<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Manhours</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in projects">
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
                <td>{{project.hours}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
